.dashboard-container {

    .user-container {
        padding: 60px 20px;
        margin-bottom: 20px;
        position: relative;
        background-image: url("../../images/bg_makeup.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }

        .characteristics-container {
            display: flex;
            justify-content: space-between; 
            align-items: center;
            flex-direction: row;
            padding: 10px;
            gap: 10px;
            border: 2px solid gray;
            border-radius: 5px;
            width: 90%;
            margin: 0 auto;
            position: absolute;
            top: 87%;
            -webkit-box-shadow: 0px 0px 34px -3px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 0px 34px -3px rgba(0,0,0,0.3);
            box-shadow: 0px 0px 34px -3px rgba(0,0,0,0.3);
            background: rgb(246, 246, 246);

            li {        
                width: 33%;
                text-align: center;
            }
    
            
            li:nth-child(1), li:nth-child(2) {
                border-right: 2px solid gray;
            }
        }
    }

}