.login-container {
    padding: 10px;

    .input-container {
        input {
            padding: 5px 10px;
            border: 1px solid gray; 
            border-radius: 15px;
        }

        .button-container {
            input[type="button"] {
                background: orange; 
            }
        }
    }
}